//- homepage.pug
doctype html
html
  head
    style
      include public/css/main.css

    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lobster")

  body
      h1 Leeds Academy of Code
